<section id="navigation">
    <nav class="navigation">

        <div class="navLogo">
            <img src="./img/logo.png" alt="">
        </div>
        <div class="phoneMenu">
            <img onclick="myFunction()" src="./img/menu.png" alt="">
        </div>


        <div class="navList" id="navList">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#team">Portfolio</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>

        <div class="navBtn">
            <button>Sign Up</button>
        </div>
    </nav>
</section>
<section id="homePage">
    <div class="homePage">
        <div class="homePageText">
            <h1>We ensure and transform business growing</h1>
            <p>Faff about only a quid blower I don't want no agro bleeding chim pot burke tosser cras nice one boot fanny for your business development</p>
            <div class="homePageBtn">
                <button style="background-color: transparent; border: 1px solid #5e2ced;">Get Started</button>
                <button>Learn More</button>
            </div>
        </div>
        <img class="homePageImg" src="./img/homeBack.png" alt="">
        <div class="cloud1 animate__animated animate__bounce animate__infinite"><img src="./img/cloudShape.png" alt=""></div>
        <div class="cloud2 animate__animated animate__bounce animate__infinite"><img src="./img/cloudShape.png" alt=""></div>
        <div class="cloud3 animate__animated animate__bounce animate__infinite"><img src="./img/cloudShape.png" alt=""></div>
    </div>
</section>