<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/header') %>

        <section id="partners">
            <div class="partners">
                <h1>Trusted by over <strong>30,000</strong> companies</h1>
                <div class="partnersImg">
                    <img src="./img/partner1.png" alt="">
                    <img src="./img/partner2.png" alt="">
                    <img src="./img/partner3.png" alt="">
                    <img src="./img/partner4.png" alt="">
                    <img src="./img/partner1.png" alt="">
                </div>
            </div>
        </section>
        <section id="process">
            <div class="process">
                <h2>HOW IT WORKS</h2>
                <h1>Simple Process To Start</h1>
                <div class="processList">
                    <div class="processListBox">
                        <div class="processListBoxIcon"></div>
                        <h3>Digital Analytics</h3>
                        <p>Twit cras excuse my French matie boy grub it's all gone to pot off his nut butty horse play blow pardon</p>
                    </div>
                    <div class="processListBox">
                        <div class="processListBoxIcon"></div>
                        <h3>Digital Analytics</h3>
                        <p>Twit cras excuse my French matie boy grub it's all gone to pot off his nut butty horse play blow pardon</p>
                    </div>
                    <div class="processListBox">
                        <div class="processListBoxIcon"></div>
                        <h3>Digital Analytics</h3>
                        <p>Twit cras excuse my French matie boy grub it's all gone to pot off his nut butty horse play blow pardon</p>
                    </div>
                </div>
                <button>Learn More</button>
            </div>
        </section>
        <section id="experience">
            <div class="experience">
                <div class="experienceText">
                    <div class="processListBoxIcon"></div>
                    <h1>On strategic experiences and visual appeal</h1>
                    <p>Why I say old chap that is, spiffing off his nut cor blimey guvnor geeza bloke knees up bobby, sloshed arse William cack Richard. Bloke fanny around chesed</p>
                    <button>Read More -></button>
                </div>
                <div class="experienceImg">
                    <img src="./img/aboutUs.png" alt="">
                </div>
            </div>
        </section>
        <section id="feedBack">
            <div class="feedBack">
                <div class="feedBackImg">
                    <img src="./img/feedBack.png" alt="">
                </div>
                <div class="feedBackText">
                    <div class="processListBoxIcon"></div>
                    <h1>On strategic experiences and visual appeal</h1>
                    <p>Why I say old chap that is, spiffing off his nut cor blimey guvnor geeza bloke knees up bobby, sloshed arse William cack Richard. Bloke fanny around chesed</p>
                    <button>Read More -></button>
                </div>
            </div>
        </section>
        <section id="team">
            <div class="team">
                <h3>OUR WORKS</h3>
                <h1>Out Case Studies</h1>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="teamBox">
                                <div class="teamBoxImg">
                                    <img src="./img/list1.jpg" alt="">
                                </div>
                                <div class="teamBoxText">
                                    <h2>Apple Mobile MockUp</h2>
                                    <p style="color: black;">Branding, Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="teamBox">
                                <div class="teamBoxImg">
                                    <img src="./img/list1.jpg" alt="">
                                </div>
                                <div class="teamBoxText">
                                    <h2>Apple Mobile MockUp</h2>
                                    <p style="color: black;">Branding, Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="teamBox">
                                <div class="teamBoxImg">
                                    <img src="./img/list1.jpg" alt="">
                                </div>
                                <div class="teamBoxText">
                                    <h2>Apple Mobile MockUp</h2>
                                    <p style="color: black;">Branding, Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="teamBox">
                                <div class="teamBoxImg">
                                    <img src="./img/list1.jpg" alt="">
                                </div>
                                <div class="teamBoxText">
                                    <h2>Apple Mobile MockUp</h2>
                                    <p style="color: black;">Branding, Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="teamBox">
                                <div class="teamBoxImg">
                                    <img src="./img/list1.jpg" alt="">
                                </div>
                                <div class="teamBoxText">
                                    <h2>Apple Mobile MockUp</h2>
                                    <p style="color: black;">Branding, Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="teamBox">
                                <div class="teamBoxImg">
                                    <img src="./img/list1.jpg" alt="">
                                </div>
                                <div class="teamBoxText">
                                    <h2>Apple Mobile MockUp</h2>
                                    <p style="color: black;">Branding, Design</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                </div>
            </div>
        </section>
        <section id="comment">
            <div class="comment">
                <h3>Client Love</h3>
                <h1>Love From Our Clients</h1>
                <div class="swiperComment">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="commentBox">
                                <div class="commentBoxPerson">
                                    <img src="./img/person.png" alt="">
                                    <div class="commentBoxPersonText">
                                        <h1>Norman Gordon</h1>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                                <div class="commentBoxText">
                                    <p>Why say old chap that is spiffing barney nancy boys bleeder and chimney pot Richard cheers the little rotter so I said, easy peasy buggered blower bevvy A bit of how's your father.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="commentBox">
                                <div class="commentBoxPerson">
                                    <img src="./img/person.png" alt="">
                                    <div class="commentBoxPersonText">
                                        <h1>Norman Gordon</h1>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                                <div class="commentBoxText">
                                    <p>Why say old chap that is spiffing barney nancy boys bleeder and chimney pot Richard cheers the little rotter so I said, easy peasy buggered blower bevvy A bit of how's your father.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="commentBox">
                                <div class="commentBoxPerson">
                                    <img src="./img/person.png" alt="">
                                    <div class="commentBoxPersonText">
                                        <h1>Norman Gordon</h1>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                                <div class="commentBoxText">
                                    <p>Why say old chap that is spiffing barney nancy boys bleeder and chimney pot Richard cheers the little rotter so I said, easy peasy buggered blower bevvy A bit of how's your father.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section>
        <section id="contact">
            <div class="contact">
                <div class="contactImg">
                    <img src="./img/logo.png" alt="">
                    <div class="contactLogo">
                        <h5>Email: <a href="">makto@gmail.com</a></h5>
                        <h5>Phone: <a href="">+948 256 347 968</a></h5>
                    </div>
                    <input type="text" value="Email">
                </div>
                <div class="contactText">
                    <div class="contactContainer">
                        <h1>Makro Homes</h1>
                        <ul>
                            <li>Agency</li>
                            <li>App Landing</li>
                            <li>Chat</li>
                            <li>Digital Agency</li>
                            <li>Digital Marketing</li>
                        </ul>
                    </div>
                    <div class="contactContainer">
                        <h1>More Homes</h1>
                        <ul>
                            <li>Portfolio Grid</li>
                            <li>Portfolia fluid</li>
                            <li>Portfolio Masonry</li>
                            <li>Our Service V.2</li>
                            <li>Our Service V.3</li>
                        </ul>
                    </div>
                    <div class="contactContainer">
                        <h1>Useful Pages</h1>
                        <ul>
                            <li>About Us</li>
                            <li>Our Services</li>
                            <li>CaseStudy</li>
                            <li>Our Team</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="footer">
                <img class="footerImg" src="./img/house.png" alt="">
                <img class="footerImg" src="./img/cloud.png" alt="">
                <img class="footerImg" src="./img/mountain.png" alt="">
            </div>
        </section>
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <script src="./js/swiper.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="./js/scrollReveal.js"></script>
        <script src="./js/main.js"></script>
</body>

</html>